@import 'base';
@import 'vendor/normalize';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
